<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Capstone</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Include other CSS files -->
<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
<link rel="stylesheet" href="stylesheets/index.css" type="text/css">
<link rel="stylesheet" href="stylesheets/main.css" type="text/css">


<!-- Include latest JQuery -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Include other JavaScripts -->
