.section-signup{
  text-shadow: 0px 1px 3px #222;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.login-form{
    float: left;
    width: 400px;
    margin-left: 20px;
    margin-top: 10px;
}
.index_container{
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.heading{
  margin-top: 0px;
  font-size: 62px;
  font-weight: normal;
  line-height: 1;
  color: #FFF;
  letter-spacing: -1px;
}

.subheading{
  margin: 10px 0px 0px;
  font-size: 21px;
  line-height: 1.5;
  color: #FFF;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.white{
  color: #FFF;
}
